* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

.div-cont {
  background-color: aqua;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-left: 28%;
  margin-top: 30px;
  border-radius: 20px;
}

#conteiner {
  background-color: rgba(10, 102, 189, 0.637);
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  display: none;
  z-index: 1;
  opacity: 1;
}

.h1-class {
  padding-top: 10px;
  padding-left: 90px;
  color: rgb(255, 0, 0);
}

#button-id {
  margin: 50px;
  background-color: red;
}

#button-id3 {
  background-color: red;
}

main {
  position: relative;
}

#name {
  height: 50px;
  background-color: rgb(255, 217, 0);
  border: none;
  border-radius: 15px;
  padding-left: 15px;
}

#image-url {
  height: 50px;
  background-color: rgb(255, 217, 0);
  border: none;
  border-radius: 15px;
  padding-left: 15px;
}

button {
  height: 50px;
  width: 120px;
  background-color: rgb(255, 217, 0);
  border: none;
  border-radius: 15px;
}

img {
  width: 400px;
  height: 200px;
  border-radius: 35px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  .class-input {
    width: 25px;
    height: 25px;
  }
}
